@import url("photographer.css");

body * {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    font-weight: 400;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-top: 33px;
}

.prices-index{
color: #757575;   
font-size: 13px;
}

.content{
color: #000000;
font-size: 13px;
margin-bottom: 4px;
}

.city-h4{
 color: #901C1C;
 margin-bottom: 2px;

}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photograph-header{
    display: flex;
    justify-content: space-evenly;
}

.photograph-header div img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photograph-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 160px;
    padding-left: 68px;
    padding-right: 88px;


}

.photograph-photos article{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.photograph-photos img{
    height: 300px;
    width: 350px;
}

.container-likes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-likes h4,
.container-likes div {
    margin-top: 5px;
    color: #901C1C;
}

.video{
  height: 300px;
    width: 350px;
}

/* heart-logo */
.heart{
    width: 20px !important; 
    height: 20px !important;

}

/* lightbox */
  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
  }


/* static */
  .prices-likes{
    width: 200px;
    height: 50px;
    background-color: #DB8876;
    display: flex;
    column-gap: 46px;
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 20px;

  }

  .lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    width: 1050px;
    height: 710px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }


  .prev-button {
position: relative;
left: 0px;
    order: 1; 
    border: none;
    background: #E5E5E5;

  }
  
  .next-button {
   position: relative;
   right: 0px;
    order: 3; 
    border: none;
    background: #E5E5E5;
  }
  
  .enlarged-img {
   
    order: 2; 
    border: none;
    background: #E5E5E5;
    width: 906px;
    height: 876px;
  }

  .close-button {
    position: absolute;
    border: none;
    background: #E5E5E5;
    top: 10px; 
    right: 10px; 
  }

  .container-info{
order: 1;
padding-top: 71px;
  }

  .profile-photo{
order: 3;
padding-top: 42px;
  }

  .name{
color: #D3573C;
padding-bottom: 25px;
  }

  .ville{
color: #901C1C;
padding-bottom: 25px;
  }

  .tag{
color: #525252;
  }

  .likes-bottom-page{

    margin-left: 16px;

  }

  .blackheart {
    height: 13px;
    margin-left: 6px;

  }

  .tri-option{
    height: 30px;
    width: 186px;
    display: flex;
    margin-top: 32px;
    margin-left: 102px;
  }

  .tri-phrase{
    margin-right: 23px;
  }

  .error-message{
    color: blue;
  }



/* filtre */

.main_content_filter {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  z-index: 0;
}

h2{
  font-weight: 100;
 
}

.filter_section{
  position: relative;
  height: 100%;
}

.dropdown {
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
  display: flex; /* Utilisez Flexbox */
  flex-direction: column; /* Alignez les éléments verticalement */
  align-items: stretch; /* Étirez les éléments sur la colonne verticale */
}

.rotate{
  transform: rotate(180deg);
}

.dropdown_content {
  max-height: 0;
  transition: max-height .1s ease-in-out;
  list-style: none;
}

.spanchevron{
  display: inline-block; 
}


.dropdown_content li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85%; /* Largeur de la ligne centrée */
  border-bottom-width: 0.5px; /* Réduisez la largeur de la bordure inférieure */
  border-bottom-style: solid; /* Assurez-vous que la bordure est solide */
  border-bottom-color: #ddd; /* Couleur de la bordure */
}

.btn_drop,
.dropdown_content li button{
  height: 50px;
  padding: 15px;
  background-color: #901C1C;
  color: white;
  
}

.btn_drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  background-color: #901C1C;
}

.dropdown_content li {
  position: relative;
  width: 150px;
  padding: 0; /* Supprimez la marge intérieure pour les boutons */
}

/* Retirez le padding des boutons pour les options de tri */
.dropdown_content li button {
  width: 100%;
  text-align: left;
  
  background-color: #901C1C;
  border: none; /* Retirez la bordure du bouton */
  cursor: pointer; /* Curseur de type main */
  padding-bottom: 2px;

}

.dropdown_content li button:hover,
.dropdown_content li button:focus,
.btn_drop:hover,
.btn_drop:focus{
  border: none;
}

.curtain_effect {
  max-height: 170px;
  margin-left: -40px;

}

.btn_drop.open .fa-chevron-up {
  transform: rotate(180deg); /* Rotation de la flèche vers le haut */
}


.dropdown_content.open li {
  border-bottom: 1px solid #ddd; /* Ligne de séparation entre les options */
}

.btn_drop.open {
  background-color: #901C1C; /* Couleur de fond lorsque le menu est ouvert */
}


/**/

/* Styles pour les icônes de flèche gauche et droite */
.lightbox .media-container {
  position: relative;
}

.lightbox video {
  width: 100%;
  height: auto;
}

.lightbox .prev-button,
.lightbox .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  
  border: none;
  cursor: pointer;
 
}

.lightbox .prev-button {
  left: 0;
}

.lightbox .next-button {
  right: 0;
}

.lightbox .prev-button img,
.lightbox .next-button img {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
}