@import url("photographer.css");

body * {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    font-weight: 400;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-top: 33px;
}

.prices-index{
color: #757575;   
font-size: 13px;
}

.content{
color: #000000;
font-size: 13px;
margin-bottom: 4px;
}

.city-h4{
 color: #901C1C;
 margin-bottom: 2px;

}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photograph-header{
    display: flex;
    justify-content: space-evenly;
}

.photograph-header div img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photograph-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    padding-left: 68px;
    padding-right: 88px;


}

.photograph-photos article{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.photograph-photos img{
    height: 300px;
    width: 350px;
}

.container-likes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-likes h4,
.container-likes div {
    margin-top: 5px;
    color: #901C1C;
}

.video{
  height: 300px;
    width: 350px;
}

/* heart-logo */
.heart{
    width: 20px !important; 
    height: 20px !important;

}

/* lightbox */

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .lightbox img {
    max-width: 90%;
    max-height: 90%;
  }


/* static */
  .prices-likes{
    width: 200px;
    height: 50px;
    background-color: #DB8876;
    display: flex;
    column-gap: 46px;
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 20px;

  }

  .lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    width: 1050px;
    height: 710px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .prev-button {
    /* ... styles spécifiques au bouton gauche ... */
    order: 1; /* Placer le bouton gauche en premier dans l'ordre d'affichage */
    border: none;
    background: #E5E5E5;
  }
  
  .next-button {
    /* ... styles spécifiques au bouton droit ... */
    order: 3; /* Placer le bouton droit en dernier dans l'ordre d'affichage */
    border: none;
    background: #E5E5E5;
  }
  
  .enlarged-img {
    /* ... styles spécifiques à l'image ... */
    order: 2; /* Placer l'image au milieu de l'ordre d'affichage */
    border: none;
    background: #E5E5E5;
    width: 906px;
    height: 876px;
  }

  .close-button {
    position: absolute;
    border: none;
    background: #E5E5E5;
    top: 10px; /* Ajustez la valeur en fonction de l'espace souhaité depuis le haut */
    right: 10px; /* Ajustez la valeur en fonction de l'espace souhaité depuis la droite */
    /* ... autres styles spécifiques au bouton de fermeture ... */
  }

  .container-info{
order: 1;
padding-top: 71px;
  }

  .profile-photo{
order: 3;
padding-top: 42px;
  }

  .name{
color: #D3573C;
padding-bottom: 25px;
  }

  .ville{
color: #901C1C;
padding-bottom: 25px;
  }

  .tag{
color: #525252;
  }

  .select-box-container{
    background-color:  #DB8876;
  }

  .likes-bottom-page{

    margin-left: 16px;

  }

  .blackheart {
    height: 13px;
    margin-left: 6px;

  }

  .tri-option{
    height: 30px;
    width: 186px;
    display: flex;
    margin-top: 32px;
    margin-left: 102px;
  }

  .tri-phrase{
    margin-right: 23px;
  }

  .error-message{
    color: red;
  }

  .select-box-container select.open {
    background-color: #DB8876;
  }
  